DEBUG=True
SECRET_KEY=dev-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=projeto_gm
POSTGRES_USER=projeto_gm
POSTGRES_PASSWORD=projeto_gm
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=8002

KEYCLOAK_REALM_URL=http://35.247.195.232/realms/GM
KEYCLOAK_CLIENT_ID=gm-contabilidade
KEYCLOAK_JWKS_URL=http://35.247.195.232/realms/GM/protocol/openid-connect/certs
KEYCLOAK_PUBLIC_KEY=
KEYCLOAK_ISSUER=http://35.247.195.232/realms/GM
KEYCLOAK_ALGORITHM=RS256
KEYCLOAK_VERIFY_AUDIENCE=True
